.line{fill:none;
stroke-width:1.5px}

.VHI{
    stroke:#4e73df
}
.SPI{
    stroke:#1cc88a
}
.IIS3{
    stroke:#36b9cc
}
.RZSM{
    stroke:#36b9cc
}


.spi_01{
    stroke:#f9c80e;
    color:#f9c80e;
}
.spi_03{
    stroke:#F86624;
    color:#F86624;
}
.spi_06{
    stroke:#EA3546;
    color:#EA3546;
}
.spi_12{
    stroke:#662E9B;
    color:#662E98;
}

.s1{
    border-left: .25rem solid #f9c80e!important;
}
.s3{
    border-left: .25rem solid #F86624!important;
}
.s6{
    border-left: .25rem solid #EA3546!important;
}
.s12{
    border-left: .25rem solid #662E9B!important;
}

.bs1{background-color: #f9c80e!important;}
.bs3{background-color: #F86624!important;}
.bs6{background-color: #EA3546!important;}
.bs12{background-color: #662E9B!important;}

circle{stroke:#222}

iframe{
    top:0;
    left:0;
    border:none;
}

a.scroll-to-top{
    right:auto;
    left:1rem;
    background:red;
    animation: blinker 3s linear infinite;
    
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}