{% extends "layout.html" %}
<!-- Exports header and navbar from header.html
     or any file you want-->
{% block title %}Page Not Found{% endblock %}
{% block content %}
  
<br><br><br><br>
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- 404 Error Text -->
                    <div class="text-center">
                        <div class="error mx-auto" data-text="404">{{number}}</div>
                        <p class="lead text-gray-800 mb-5">Page Not Found</p>
                        <p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p>
                        {{message}}
                        <br><br>
                        <a href="https://environment.leeds.ac.uk/see/staff/9287/murilo-vianna"> For issues contact: 
Murilo Vianna (link to UoL profile)</a>

                    </div>


                </div>
<br><br><br><br><br><br>
{% endblock content %}