{% extends layout %}
{% block content %}

<div class="container-fluid">

<br>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800" style='margin-left:10px'>{{title}}</h1>
    <a style='position:absolute;left:auto;right:20px;' id='metlink' href='https://www.metoffice.gov.uk/research/approach/collaboration/newton/cssp-brazil/index' class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-download fa-sm text-white-50"></i>CSSP Programme</a>
            <br>
        
</div>

    <img src='https://www.metoffice.gov.uk/binaries/content/gallery/metofficegovuk/hero-images/advice/international/rainforest-in-brazil.jpg/rainforest-in-brazil.jpg/metofficegovuk%3AheroXLarge' width='100%'/>
    <br><br>
{% for key, value in atext.items() %}
<div class="row">
    <div class="col-xl-12 col-lg-0">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{key}}</h6>

            </div>
            <div style="width:auto;height:auto;margin:20px">

                    {{value}}


                <!-- end content -->
            </div>
        </div>

    </div>
</div>
{% endfor %}


</div>
{% endblock content %}
