<script src="https://d3js.org/d3.v6.min.js"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">


<style>
body{font-family: 'IBM Plex Sans', sans-serif;}
svg{background-color:#ececec;}
.countypath{fill:whitesmoke;
            stroke:#ececec;
            stroke-width:2px
            }
            #header {
              display: table-cell;
              vertical-align: bottom;
              float:right;
              width:30%;
            }
</style>


<body>

<div id='header'>Loading</div> 
This is just for testing:
{% for key in filelist %}


   <button onclick='getdata({{key}})'> {{ key }} </button>


{% endfor %}



<script async>
//http://127.0.0.1:4000/choropleth/spi_03/


width = 800
height = width
const header =  document.getElementById('header')

console.log("{{ url_for('static', filename='counties.json') }}")

d3.json("{{ url_for('static', filename='counties.geojson') }}").then(geo=>{

console.log(geo)

projection = d3
  .geoIdentity()
  .reflectY(true)
  .fitWidth(width, geo)
  
path = d3.geoPath(projection)

const svg =  d3.select("body").append("svg")
                                   .attr("width", width)
                                  .attr("height", height);

const counties = svg.append('g');

// draw each state to an svg path
counties
  .selectAll('countypath')
  .data(geo.features)
  .enter()
  .append('path')
  //.attr('data',d=>{console.log(d)})
  .attr('id',d=>d.properties.Geocod)
  .attr('d', d => path(d))



})

const colour = d3.interpolateSpectral
var item = 'median'

function getdata(file){
    
    
    d3.json(window.location.href+file).then(jsn=>{
        
        
        
        console.log(jsn)
        jsn.forEach(e=>{
            d3.select(document.getElementById(e.id))
            //.attr('data',e)
            .attr('fill',colour((e[item]/2)+1))
            .on('mouseover',()=> {header.innerHTML = `Name:  ${e.name} <br>Mean:${e.mean}<br>Median:${e.median}<br><Max:${e.max}<br>Min${e.min}`})
        })
    
    
    
    })
    
    
}

getdata(document.querySelector('button').innerText)









</script>
</body>