{% extends 'layout.html' %} {% block content %}


<style>
    .line {
        fill: none;
        stroke-width: 1.5px
    }

    .VHI {
        stroke: #4e73df
    }

    .SPI {
        stroke: #1cc88a
    }

    .IIS3 {
        stroke: #f6c23e
    }

    .RZSM {
        stroke: #36b9cc
    }


    .spi_01 {
        stroke: #f9c80e;
        color: #f9c80e;
    }

    .spi_03 {
        stroke: #F86624;
        color: #F86624;
    }

    .spi_06 {
        stroke: #EA3546;
        color: #EA3546;
    }

    .spi_12 {
        stroke: #662E9B;
        color: #662E98;
    }

    .s1 {
        border-left: .25rem solid #f9c80e!important;
    }

    .s3 {
        border-left: .25rem solid #F86624!important;
    }

    .s6 {
        border-left: .25rem solid #EA3546!important;
    }

    .s12 {
        border-left: .25rem solid #662E9B!important;
    }

    .bs1 {
        background-color: #f9c80e!important;
    }

    .bs3 {
        background-color: #F86624!important;
    }

    .bs6 {
        background-color: #EA3546!important;
    }

    .bs12 {
        background-color: #662E9B!important;
    }

    circle {
        stroke: #222
    }
</style>

<!-- Page Wrapper -->
<!-- Begin Page Content -->


<div class="container-fluid">


<div id = 'loading' style='height:25vh;margin-top:10vh'>
<h6> Computing data... </h6>    
    
    <div class="progress mx-auto" >
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
    </div>
    
    <!-- <h6> (this should take only a few seconds, if not an error has occured) </h6>   -->
</div>
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800" id='dashname'>Dashboard</h1>
        <a href="#" id='downdash' class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>



    <!-- map -->
    <h5> Brazil Map</h5>
    <div class="row">
        <div class="col-xl-12 col-lg-0">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary" id ='region'>Location</h6>
                </div>
                <div id='lmap' style="width:auto;height:300px!important">
                    Loading Map
                </div>
            </div>

        </div>
    </div>




    <h5> Indicator Plots</h5>
    <!-- PLOT VALUES -->

    <!-- Content Row -->
    <div class="row">


        <div class="col-xl-12 col-lg-0">
            <div class="card shadow mb-4">
                <div class="card-header py-3" style='height:40px'>
                    Chart Description
                </div>
                <div style='margin:20px' id='text'>

                    <br>
                    <p> Below there are two graphs. Each of which shows the scaled categories representing the drought categories for a range of indicators. For each indicator, the averaged measurement may be obtained by viewing the independant cells whilst
                        moving the cursor over the figure.
                        <br><br> The top graph displays the avarage of all available SPI value categories. The individual plots can be seen in the second graph. The mouseover events for both figures have been linked to allow inter-comparison.

                    </p>
                </div>


            </div>

        </div>

    </div>
    <div class="row">


        <!-- big left 1  -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-0">
                                VHI -
                                <span id='VHIcat'> status </span>

                            </div>


                            <div class="col-auto">
                                <span id='VHIval'> n/a </span>

                                <div class="progress progress-sm mr-2" style='width:100%'>
                                    <div id='VHIpc' class="progress-bar bg-primary vhi" role="progressbar" style="width: 80%"></div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-0">
                                SPI -
                                <span id='SPIcat'> status </span>

                            </div>


                            <div class="col-auto">
                                <span id='SPIval'> n/a </span>

                                <div class="progress progress-sm mr-2" style='width:100%'>
                                    <div id='SPIpc' class="progress-bar bg-success vhi" role="progressbar" style="width: 80%"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-0">
                                RZSM -
                                <span id='RZSMcat'> status </span>

                            </div>


                            <div class="col-auto">
                                <span id='RZSMval'> n/a </span>

                                <div class="progress progress-sm mr-2" style='width:100%'>
                                    <div id='RZSMpc' class="progress-bar bg-info rzsm" role="progressbar" style="width: 80%"></div>
                                </div>

                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-0">
                                IIS3 -
                                <span id='IIS3cat'> status </span>

                            </div>


                            <div class="col-auto">
                                <span id='IIS3val'> n/a </span>

                                <div class="progress progress-sm mr-2" style='width:100%'>
                                    <div id='IIS3pc' class="progress-bar bg-warning iis3" role="progressbar" style="width: 80%"></div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>










    <!-- GROUPS PLOT -->

    <div class="row">


        <!-- <div class="col-xl-2 col-lg-0">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Categories</h6>
                            </div>
                            <div class="card-body" style='height:400px'>
                                <p>info</p>
                            </div>
                        </div>

                    </div> -->


        <div class="col-xl-12 col-lg-0">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">All Indicators</h6>
                </div>
                <div style='height:400px' id='allplot'>
                </div>
            </div>

        </div>







    </div>




    <div class="row">



        <!-- big left 1  -->
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2 s1">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold spi_01 text-uppercase mb-0">
                                SPI 01 -
                                <span id='spi_01cat'> status </span>

                            </div>


                            <div class="col-auto">
                                <span id='spi_01val'> n/a </span>

                                <div class="progress progress-sm mr-2" style='width:100%'>
                                    <div id='spi_01pc' class="progress-bar bg-success vhi bs1" role="progressbar" style="width: 80%"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>



        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2 s3">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold spi_03 text-uppercase mb-0">
                                SPI 03 -
                                <span id='spi_03cat'> status </span>

                            </div>


                            <div class="col-auto">
                                <span id='spi_03val'> n/a </span>

                                <div class="progress progress-sm mr-2" style='width:100%'>
                                    <div id='spi_03pc' class="progress-bar bg-success vhi bs3" role="progressbar" style="width: 80%"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2 s6">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold spi_06 text-uppercase mb-0">
                                SPI 06 -
                                <span id='spi_06cat'> status </span>

                            </div>


                            <div class="col-auto">
                                <span id='spi_06val'> n/a </span>

                                <div class="progress progress-sm mr-2" style='width:100%'>
                                    <div id='spi_06pc' class="progress-bar bg-success vhi bs6" role="progressbar" style="width: 80%"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2 s12">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold spi_12 text-uppercase mb-0">
                                SPI 12 -
                                <span id='spi_12cat'> status </span>

                            </div>


                            <div class="col-auto">
                                <span id='spi_12val'> n/a </span>

                                <div class="progress progress-sm mr-2" style='width:100%'>
                                    <div id='spi_12pc' class="progress-bar bg-success vhi bs12" role="progressbar" style="width: 80%"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>






    <!-- SPI PLOT -->

    <div class="row">




        <div class="col-xl-12 col-lg-0">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">SPI Plots</h6>
                </div>
                <div style='height:400px' id='spiplot'>
                </div>
            </div>

        </div>













</div>









<!-- */
                    </script> -->

<!-- /.container-fluid -->
<!-- </div> -->

<!-- End of Main Content -->
</div>



</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->









{% endblock content %} {% block scripts %}


<script src='/bundles/individual/'></script>
{% endblock scripts %}